body{
    background-color: aqua;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(241, 72, 11);
}
iframe{
    margin: 50px;
    width: 80%;
    height: 400px;
}